<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="common-header">
		<meta charset="utf-8"></meta>
	    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<title>DevOps Buddy</title>

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"></link>
		<link th:href="@{/webjars/jquery-mobile/1.4.5/jquery.mobile.min.css}" rel="stylesheet"></link>

		<!-- Custom styles for this template -->
		<link type="text/css" th:href="@{/css/jqm-demos.css}" rel="stylesheet"></link>
		<!-- TODO: Not sure if necessary
		<link type="text/css" th:href="@{/css/screen.css}" rel="stylesheet"></link>
		<link type="text/css" th:href="@{/css/cmxform.css}" rel="stylesheet"></link>
		-->
		<link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet"></link>
	</head>

	<div th:fragment="before-body-scripts">
		<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
		<!-- <script th:src="@{/js/jquery.js}"></script> -->
		<script th:src="@{/js/index.js}"></script>
		<script th:src="@{/webjars/jquery-mobile/1.4.5/jquery.mobile.min.js}"></script>
		<script th:src="@{/js/jquery.validate.min.js}"></script>
		<script th:src="@{/js/additional-methods.min.js}"></script>
		<script th:src="@{/js/eventsbuddy.js}"></script>
	</div>
</html>