<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="login-panel" id="login-panel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="a">
        <form id="loginForm" class="userform" th:action="@{/login}" method="post" data-ajax="false">
        	<h2>Login</h2>

            <label for="name">Username:</label>
            <input type="text" name="username" id="username" value="" data-clear-btn="true" data-mini="true"></input>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true"></input>

            <div class="ui-grid-a">
                <div class="ui-block-a"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Cancel</a></div>
                <!-- <div class="ui-block-b"><a href="#" id="btnLogin" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Login</a></div> -->
                <div class="ui-block-b" th:if="${#authorization.expression('!isAuthenticated()')}">
                	<button type="submit" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Login</button>
                </div>
			</div>
        </form>
	</div><!-- /panel -->
</html>