<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HTML page name and path :: Fragment name -->
<!-- All locations are relative to the path: src/main/resources/templates -->
<head th:replace="common/header :: common-header"></head>

<body>
	<div data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="Panel fixed positioning">
	
	    <div th:replace="common/navbar :: navbar"></div>
	
		<!-- content -->
	    <div role="main" class="ui-content jqm-content jqm-fullwidth">
			<form id="loginForm" class="userform" th:action="@{/login}" method="post" data-ajax="false">
	        	<h2 th:text="#{text.signin}"></h2>
	
	            <label for="name">Username:</label>
	            <input type="text" name="username" id="username" value="" data-clear-btn="true" data-mini="true"></input>
	
	            <label for="password">Password:</label>
	            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true"></input>
	
	            <div class="ui-grid-a">
	                <div class="ui-block-b" th:if="${#authorization.expression('!isAuthenticated()')}">
	                	<button type="submit" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" th:text="#{text.signin}"></button>
	                </div>
				</div>
	        </form>
	                <div class="ui-block-a"><a th:href="@{/signup}" data-ajax="false" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini" th:text="#{text.signup}"></a></div>
		</div><!-- /content -->
	
		<div th:replace="common/footer :: fixed-footer"></div>
	
		<div th:replace="common/menu :: menu-panel"></div>
	
		<div th:replace="common/login :: login-panel"></div>
	
	</div><!-- /page -->

	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
