<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HTML page name and path :: Fragment name -->
<!-- All locations are relative to the path: src/main/resources/templates -->
<head th:replace="common/header :: common-header"></head>

<body>
	<div data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="Panel fixed positioning">
	
	    <div th:replace="common/navbar :: navbar"></div>
	
		<!-- content -->
	    <div role="main" class="ui-content jqm-content jqm-fullwidth">
			<!-- TODO : -->
			ADD
		</div><!-- /content -->
	
		<div th:replace="common/footer :: fixed-footer"></div>
	
		<div th:replace="common/menu :: menu-panel"></div>
	
		<div th:replace="common/login :: login-panel"></div>
	
	</div><!-- /page -->

	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
