<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HTML page name and path :: Fragment name -->
<!-- All locations are relative to the path: src/main/resources/templates -->
<head th:replace="common/header :: common-header"></head>

<body>
	<div data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="Panel fixed positioning">
		<div th:replace="common/navbar :: backward-navbar"></div>

		<div data-role="main">
			<h1 th:text="${program.title}"></h1>
			<ul>
				<li th:each="chairs : ${program.programChairs}" style="display: inline;">
					<p th:text="${chairs.chair.name}"></p>
				</li>
			</ul>
			<p th:text="${program.description}"></p>
		</div>

		<div th:replace="common/footer :: fixed-footer"></div>

		<div th:replace="common/login :: login-panel"></div>
	</div>

	<!-- jQuery core JavaScript -->
	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>